<template name="dashboard">
    {{#if currentUser}}
        {{> dashboard_menu}}

        <div id="main-wrapper" class="content-videos">


            <div id="content-wrapper" class="dissaper_content">
                {{#if isInRole 'producer'}}
                    <div class="row">
                        <ul class="breadcrumb breadcrumb-page">
                            <div class="breadcrumb-label text-light-gray">You are here: </div>
                            <li><a href="#">Home</a></li>
                            <li class="active"><a href="#">Mis Subastas</a></li>
                        </ul>
                        <div class="page-header">
                            <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="menu-icon fa fa-th page-header-icon"></i>&nbsp;&nbsp;Mis Subastas</h1>
                            <div class="col-xs-12 col-sm-8">
                                <div class="row">
                                    <hr class="visible-xs no-grid-gutter-h">
                                    <!-- "Create project" button, width=auto on desktops -->
                                    <div class="pull-right col-xs-12 col-sm-auto"><a id="create-new-auction" href="#" class="btn btn-primary btn-labeled" data-toggle="modal" data-target="#" style="width: 100%;"><span class="btn-label icon fa fa-plus"></span>Crear Nueva Subasta</a></div>

                                    <!-- Margin -->
                                    <div class="visible-xs clearfix form-group-margin"></div>
                                </div>
                            </div>
                        </div>
                        <!-- / .page-header -->
                    </div>
                    {{#if Template.subscriptionsReady}}
                        <!-- This is displayed when all data is ready. -->
                        {{>TableAuctions}}
                    {{else}}
                        Loading...
                    {{/if}}
                          
                {{else}}
                     <div class="row">
                        <ul class="breadcrumb breadcrumb-page">
                            <div class="breadcrumb-label text-light-gray">You are here: </div>
                            <li><a href="#">Home</a></li>
                            <li class="active"><a href="#">Subastas</a></li>
                        </ul>
                        <div class="page-header">
                            <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="menu-icon fa fa-th page-header-icon"></i>&nbsp;&nbsp;Subastas</h1>
                            <div class="col-xs-12 col-sm-8">
                                <div class="row">
                                    <hr class="visible-xs no-grid-gutter-h">
                                    <!-- "Create project" button, width=auto on desktops -->
                                    

                                    <!-- Margin -->
                                    <div class="visible-xs clearfix form-group-margin"></div>
                                </div>
                            </div>
                        </div>
                        <!-- / .page-header -->
                    </div>
                    {{>buyer_auctions}}
                    
                {{/if}}
                       
            </div> <!-- / #content-wrapper -->
            

        </div>
        <div id="main-menu-bg"></div>
            
    
    {{else}}
        {{>loginUser}}
    {{/if}}
</template>

