<template name="profile_producer">
    {{#if currentUser}}
        {{> dashboard_menu}}

        <div id="main-wrapper" class="content-videos">

            <div id="content-wrapper" class="dissaper_content">
                {{#if isInRole 'producer'}}
                    <div class="row">
                        <ul class="breadcrumb breadcrumb-page">
                            <div class="breadcrumb-label text-light-gray">You are here: </div>
                            <li><a href="#">Home</a></li>
                            <li class="active"><a href="#">Perfil</a></li>
                        </ul>
                        <div class="page-header">
                            <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="menu-icon fa fa-th page-header-icon"></i>&nbsp;&nbsp;Perfil</h1>
                            
                        </div>
                        <!-- / .page-header -->
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            
                                <ul id="uidemo-tabs-default-demo" class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#uidemo-tabs-default-demo-home" data-toggle="tab">Datos Personales <span class="label label-success"></span></a>
                                    </li>
                                    <li class="">
                                        <a href="#uidemo-tabs-default-demo-profile" data-toggle="tab">Seguridad <span class="badge badge-primary"></span></a>
                                    </li>
                                    
                                </ul>

                                <div class="tab-content tab-content-bordered">
                                    <div class="tab-pane fade active in" id="uidemo-tabs-default-demo-home">
                                        <form id="signUp-form_id_producer" class="form-horizontal">
                                            <input id="id" value="{{_id}}" hidden>
                                            
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <label for="name_id_producer" class="col-sm-2 control-label">Nombre</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="name_id_producer" value="{{profile.name}}">
                                                    </div>
                                                </div> <!-- / .form-group -->
                                                <div class="form-group">
                                                    <label for="cc_id_producer" class="col-sm-2 control-label">C.C</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="cc_id_producer" disabled value="{{profile.cc}}">
                                                        
                                                    </div>
                                                </div> <!-- / .form-group -->
                                                <div class="form-group" >
                                                  <label class="col-sm-2 control-label" for="email_id_producer">Email</label>
                                                    <div class="col-sm-10">
                                                        <input type="email" class="form-control" id="email_id_producer" value="{{profile.email}}" required>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="address_producer" class="col-sm-2 control-label">Direccion</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" step="any" class="form-control" id="address_producer" value="{{profile.address}}" required>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="phone_id_producer" class="col-sm-2 control-label">Teléfono</label>
                                                    <div class="col-sm-10">
                                                        <input type="number" step="any" class="form-control" id="phone_id_producer" value="{{profile.phone}}" required>
                                                    </div>
                                                </div>

                                                
                                                <div class="form-group">
                                                    <label for="production_id" class="col-sm-2 control-label">Producción</label>
                                                    <div class="col-sm-10">
                                                        <textarea id="production_id" name="production_id" class="form-control" rows="5" required>
                                                            {{profile.production}}
                                                        </textarea> 
                                                    </div>
                                                </div>  

                                                <div class="form-group">
                                                    <label for="cuts_id" class="col-sm-2 control-label">Cortes</label>
                                                    <div class="col-sm-10">
                                                        <textarea id="cuts_id" name="cuts_id" class="form-control" rows="5" required>
                                                            {{profile.cuts}}
                                                        </textarea> 
                                                    </div>
                                                </div> <!-- / .form-group -->

                                                <div class="form-group">
                                                    <label for="url_video_producer"  class="col-sm-2 control-label">Url Video</label>
                                                    <div class="col-sm-10">
                                                        <input type="url" name="url_video_producer" id="url_video_producer" class="form-control input-lg" value="{{profile.video}}" required>
                                                    </div>
                                                </div>

                                                <div class="form-group" align="center">
                                                    <button id="photo" class="btn btn-primary btn-flat" align="left">Foto</button>
                                                    {{#if picture}}
                                                        <img id="preview-photo" src="{{picture}}">
                                                    {{/if}}
                                                    
                                                </div>
                                                <div class="form-group" style="margin-bottom: 0;">
                                                    <div class="col-sm-offset-2 col-sm-10" >
                                                        <button type="submit" class="btn btn-success btn-flat">Guardar</button>
                                                        
                                                    </div>
                                                </div> <!-- / .form-group -->
                                                <br>
                                                <p class="alert-add"></p>
                                                
                                            </div>
                                        </form>
                                        <!-- /10. $FORM_EXAMPLE -->
                                    </div> <!-- / .tab-pane -->
                                    <div class="tab-pane fade" id="uidemo-tabs-default-demo-profile">
                                        <div class="panel-heading">
                                            <span class="panel-title">Cambiar Contraseña</span>
                                        </div>
                                       
                                        <form id="change-password" class="form-horizontal">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <label for="current-password" class="col-sm-2 control-label">Contraseña Actual</label>
                                                    <div class="col-sm-10">
                                                        <input type="password" step="any" class="form-control" id="current-password" value="" placeholder="Contraseña Actual" required>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="pass_buyer" class="col-sm-2 control-label">Nueva Contraseña</label>
                                                    <div class="col-sm-10">
                                                        <input type="password" step="any" class="form-control" id="new-password" value="" placeholder="nueva contraseña" required>
                                                    </div>
                                                </div>

                                                 <div class="form-group">
                                                    <label for="pass_buyer_repet" class="col-sm-2 control-label">Confirmar Contraseña</label>
                                                    <div class="col-sm-10">
                                                        <input type="password" step="any" class="form-control" id="new-password-repet" value="" placeholder="escribe nuevamente la contraseña" required>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom: 0;">
                                                    <div class="col-sm-offset-2 col-sm-10" >
                                                        <button type="submit" class="btn btn-success btn-flat">Guardar</button>
                                                        
                                                    </div>
                                                </div> <!-- / .form-group -->
                                                <br>
                                                <p class="alert-add"></p>
                                            </div>
                                        </form>
                                    </div> <!-- / .tab-pane -->
                                    
                                    
                                </div> <!-- / .tab-content -->
                          
                            
                        </div>
                    </div>
                {{/if}}
            </div> <!-- / #content-wrapper -->
            

        </div>
        <div id="main-menu-bg"></div>
            
    
    {{else}}
        {{>loginUser}}
    {{/if}}
</template>

