<template name="profile_buyer">
    {{#if currentUser}}
        {{> dashboard_menu}}

        <div id="main-wrapper" class="content-videos">

            <div id="content-wrapper" class="dissaper_content">
                {{#if isInRole 'buyer'}}
                    <div class="row">
                        <ul class="breadcrumb breadcrumb-page">
                            <div class="breadcrumb-label text-light-gray">You are here: </div>
                            <li><a href="#">Home</a></li>
                            <li class="active"><a href="#">Perfil</a></li>
                        </ul>
                        <div class="page-header">
                            <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="menu-icon fa fa-th page-header-icon"></i>&nbsp;&nbsp;Perfil</h1>
                            <div class="col-xs-12 col-sm-8">
                                <div class="row">
                                    <hr class="visible-xs no-grid-gutter-h">
                                    <!-- "Create project" button, width=auto on desktops -->
                                    

                                    <!-- Margin -->
                                    <div class="visible-xs clearfix form-group-margin"></div>
                                </div>
                            </div>
                        </div>
                        <!-- / .page-header -->
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                        
                                <ul id="uidemo-tabs-default-demo" class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#uidemo-tabs-default-demo-home" data-toggle="tab">Datos Personales <span class="label label-success"></span></a>
                                    </li>
                                    <li class="">
                                        <a href="#uidemo-tabs-default-demo-profile" data-toggle="tab">Seguridad <span class="badge badge-primary"></span></a>
                                    </li>
                                    
                                </ul>

                                <div class="tab-content tab-content-bordered">
                                    <div class="tab-pane fade active in" id="uidemo-tabs-default-demo-home">
                                        <form id="signUp-form_id_buyer" class="panel form-horizontal">
                                            <input id="id" value="{{_id}}" hidden>
                                            <div class="panel-heading">
                                                <span class="panel-title">Perfil</span>
                                            </div>
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <label for="name_id_buyer" class="col-sm-2 control-label">Nombre</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="name_id_buyer" value="{{profile.name}}">
                                                    </div>
                                                </div> <!-- / .form-group -->
                                                <div class="form-group">
                                                    <label for="cc_id_buyer" class="col-sm-2 control-label">C.C</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="cc_id_buyer" disabled value="{{profile.cc}}">
                                                        
                                                    </div>
                                                </div> <!-- / .form-group -->
                                                <div class="form-group" >
                                                  <label class="col-sm-2 control-label" for="email_id_buyer">Email</label>
                                                    <div class="col-sm-10">
                                                        <input type="email" class="form-control" id="email_id_buyer" value="{{profile.email}}" required>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="address_buyer" class="col-sm-2 control-label">Direccion</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" step="any" class="form-control" id="address_buyer" value="{{profile.address}}" required>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="phone_id_buyer" class="col-sm-2 control-label">Teléfono</label>
                                                    <div class="col-sm-10">
                                                        <input type="number" step="any" class="form-control" id="phone_id_buyer" value="{{profile.phone}}" required>
                                                    </div>
                                                </div>

                                                <div class="form-group" style="margin-bottom: 0;">
                                                    <div class="col-sm-offset-2 col-sm-10" >
                                                        <button type="submit" class="btn btn-success btn-flat">Guardar</button>
                                                        
                                                    </div>
                                                </div> <!-- / .form-group -->
                                                <br>
                                                <p class="alert-add"></p>
                                                
                                            </div>
                                        </form>
                            <!-- /10. $FORM_EXAMPLE -->
                                    </div> <!-- / .tab-pane -->
                                    <div class="tab-pane fade" id="uidemo-tabs-default-demo-profile">
                                        <div class="panel-heading">
                                                <span class="panel-title">Cambiar Contraseña</span>
                                            </div>
                                       
                                        <form id="change-password" class="panel form-horizontal">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <label for="current-password" class="col-sm-2 control-label">Contraseña Actual</label>
                                                    <div class="col-sm-10">
                                                        <input type="password" step="any" class="form-control" id="current-password" value="" placeholder="Contraseña Actual" required>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="pass_buyer" class="col-sm-2 control-label">Nueva Contraseña</label>
                                                    <div class="col-sm-10">
                                                        <input type="password" step="any" class="form-control" id="new-password" value="" placeholder="nueva contraseña" required>
                                                    </div>
                                                </div>

                                                 <div class="form-group">
                                                    <label for="pass_buyer_repet" class="col-sm-2 control-label">Confirmar Contraseña</label>
                                                    <div class="col-sm-10">
                                                        <input type="password" step="any" class="form-control" id="new-password-repet" value="" placeholder="escribe nuevamente la contraseña" required>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-bottom: 0;">
                                                    <div class="col-sm-offset-2 col-sm-10" >
                                                        <button type="submit" class="btn btn-success btn-flat">Guardar</button>
                                                        
                                                    </div>
                                                </div> <!-- / .form-group -->
                                                <br>
                                                <p class="alert-add"></p>
                                            </div>
                                        </form>
                                    </div> <!-- / .tab-pane -->
                                    <div class="tab-pane fade" id="uidemo-tabs-default-demo-dropdown1">
                                       
                                    </div> <!-- / .tab-pane -->
                                    
                                </div> <!-- / .tab-content -->
                                                  
                        </div>
                    </div>
                {{/if}}
            </div> <!-- / #content-wrapper -->
            

        </div>
        <div id="main-menu-bg"></div>
            
    
    {{else}}
        {{>loginUser}}
    {{/if}}
</template>

