<template name="signUp">
    <!-- Page background -->
    <div id="page-signin-bg">
        
    </div>
    <!-- / Page background -->
    <!-- Container -->
    <div class="signup-container">
        <!-- Header -->
        <div class="signup-header">
            <a href="index.html" class="logo">
                <img src="/img/logo-auction.png" alt="" style="margin-top: -5px;">&nbsp;
                PescApp
            </a> <!-- / .logo -->
            <div class="slogan">
                Subasta. Vende. Compra.
            </div> <!-- / .slogan -->
        </div>
        <!-- / Header -->

        <!-- Form -->
        <div class="signup-form">
            <div class="buttons-register">
                <div id="buyer" align="center">
                    <button class="btn btn-warning btn-flat buyer">Comprador</button>
                </div>
                <br>
                <br>
                <div id="producer" align="center">
                    <button class="btn btn-success btn-flat producer">Productor</button>
                </div> 

            </div>            
        </div>
        <!-- Right side -->
    </div>

    <div class="have-account">
        Tienes una Cuenta? <a id="signIn" href="#">Ingresar</a>
    </div>
    
</template>