<template name="loginUser">
    {{#if currentUser}}
    	{{>dashboard}}
    {{else}}
        <!-- Page background -->
        <div id="page-signin-bg">
            

        </div>
        <!-- / Page background -->

        <!-- Container -->
        <div class="signin-container">

            <!-- Left side -->
            <div class="signin-info">
                <a href="index.html" class="logo">
                    <img src="/img/logo-auction.png" alt="" style="margin-top: -5px;">&nbsp;
                    PescApp
                </a> <!-- / .logo -->
                <div class="slogan">
                    Subasta. Vende. Compra.
                </div> <!-- / .slogan -->
                <ul>
                    <li><i class="fa fa-sitemap signin-icon"></i> Flexible modular structure</li>
                    <li><i class="fa fa-file-text-o signin-icon"></i> LESS &amp; SCSS source files</li>
                    <li><i class="fa fa-outdent signin-icon"></i> RTL direction support</li>
                    <li><i class="fa fa-heart signin-icon"></i> Crafted with love</li>
                </ul> <!-- / Info list -->
            </div>
            <!-- / Left side -->

            <!-- Right side -->
            <div class="signin-form">
                {{#if resetPassword}}
                    <!-- Password reset form -->
                    <div style="display: block;" class="password-reset-form" id="password-new-form">
                        <div class="header">
                            <div class="signin-text">
                                <span>Reset your Password</span>
                                <div class="close">&times;</div>
                            </div> <!-- / .signin-text -->
                        </div> <!-- / .header -->
                        <!-- Form -->
                        <form action="index.html" id="password-new-form">
                            <div class="form-group w-icon">
                                <input type="password" name="password_reset_email" id="reset-password-new-password" class="form-control input-lg" placeholder="New Password">
                                <span class="fa fa-envelope signin-form-icon"></span>
                            </div> <!-- / Email -->

                            <div class="form-actions">
                                <input id="login-buttons-reset-password-button" type="submit" value="Set Password" class="signin-btn bg-primary">
                            </div> <!-- / .form-actions -->
                        </form>
                        <!-- / Form -->
                    </div>
                    <!-- / Password reset form -->
                {{else}}
                     <!-- Form -->
                    <form action="#" id="signin-form_id">
                        <div class="signin-text">
                            <span>Ingresa a tu Cuenta</span>
                        </div> <!-- / .signin-text -->

                        <div class="form-group w-icon">
                            <input type="email" name="signin_username" id="username_id" class="form-control input-lg" placeholder="Email">
                            <span class="fa fa-user signin-form-icon"></span>
                        </div> <!-- / Username -->

                        <div class="form-group w-icon">
                            <input type="password" name="signin_password" id="password_id" class="form-control input-lg" placeholder="Password">
                            <span class="fa fa-lock signin-form-icon"></span>
                        </div> <!-- / Password -->

                        <div class="form-actions">
                            <input type="submit" value="Iniciar Sesión" class="signin-btn bg-primary">
                            <a href="#" class="forgot-password" id="forgot-password-link">Olvidaste tu Contraseña?</a>
                            
                        </div> <!-- / .form-actions -->
                    </form>
                    <!-- / Form -->

                    <!-- / "Sign In with" block -->

                    <!-- Password reset form -->
                    <div class="password-reset-form" id="password-reset-form">
                        <div class="header">
                            <div class="signin-text">
                                <span>Password reset</span>
                                <div class="close">&times;</div>
                            </div> <!-- / .signin-text -->
                        </div> <!-- / .header -->
                        

                        <!-- Form -->
                        <form action="index.html" id="password-reset-form_id">
                            <div class="form-group w-icon">
                                <input type="text" name="password_reset_email" id="p_email_id" class="form-control input-lg" placeholder="Enter your email">
                                <span class="fa fa-envelope signin-form-icon"></span>
                            </div> <!-- / Email -->

                            <div class="form-actions">
                                <input type="submit" value="SEND PASSWORD RESET LINK" class="signin-btn bg-primary">
                            </div> <!-- / .form-actions -->
                        </form>
                        <!-- / Form -->
                    </div>
                    <!-- / Password reset form -->


                {{/if}}

            </div>
            <!-- Right side -->
        </div>
        <!-- / Container -->
        <div class="not-a-member">
            No eres miembro? <a id="singup" href="#" >Registráte ahora!</a>
        </div>

    {{/if}}
</template>