<template name="my_offers_buyer">
    {{#if currentUser}}
    	<div class="theme-default main-menu-animated dont-animate-mm-content-sm animate-mm-md animate-mm-lg">
            <div id="content-wrapper">
                <div class="row">
                    <input id="producer" type="text" value="{{producer}}" hidden>
                    <input id="producer-name" type="text" value="{{nameCreateAuction}}" hidden>
                    <input id="id-auction" type="text" value="{{auction}}" hidden>
                    <input id="id-offer" type="text" value="{{_id}}" hidden>
                    <div class="col-sm-12">
                        <div class="panel-heading">
                            <span class="panel-title">Datos Productor</span>
                        </div>
                        <div class="panel-body">

                             <div class="panel panel-info panel-dark widget-profile">
                                <div class="panel-heading">
                                    <div class="widget-profile-bg-icon">
                                        <i class="fa fa-flask"></i>
                                    </div>
                                    <img src="" alt="" class="widget-profile-avatar producer-photo">
                                    
                                    
                                    <div class="widget-profile-header">
                                        <span>{{nameCreateAuction}}</span><br>
                                        <a id="cc-producer" href="#"></a>
                                    </div>
                                </div> <!-- / .panel-heading -->
                                <div class="list-group">
                                    <a id="phone-producer" href="#" class="list-group-item"><i class="fa fa-bell-o list-group-icon"></i></a>
                                    <a id="address-producer" href="#" class="list-group-item"><i class="fa fa-envelope-o list-group-icon"></i></a>
                                    <a id="email-producer" href="#" class="list-group-item"><i class="fa fa-tasks list-group-icon"></i></a>

                                    <a id="production-producer" href="#" class="list-group-item"><i class="fa fa-comment list-group-icon"></i></a>
                                    <a id="cuts-producer" href="#" class="list-group-item"><i class="fa fa-truck list-group-icon"></i></a>
                                    <a id="video-producer" href="#" class="list-group-item"><i class="fa fa-book list-group-icon"></i></a>
                                   
                                </div>
                            </div>
                        </div>

                        
                        <div class="panel-heading">
                            <span class="panel-title">Mi Oferta</span>
                        </div>

                        <div class="panel-body alert-offer-insert">

                            <div class="panel panel-success panel-dark widget-profile">
                                <div class="panel-heading">
                                    <div class="widget-profile-bg-icon"><i class="fa fa-bar-chart-o"></i></div>

                                    <img src="" alt="" class="widget-profile-avatar producer-photo">
                                    
                                    <div class="widget-profile-header">
                                        <span></span><br>
                                        
                                    </div>
                                </div> <!-- / .panel-heading -->
                                <div class="list-group">
                                    <a id="date-harvest" href="#" class="list-group-item"><i class="fa fa-bell-o list-group-icon"></i></a>
                                    <a id="date-init" href="#" class="list-group-item"><i class="fa fa-envelope-o list-group-icon"></i></a>
                                    <a id="date-finish" href="#" class="list-group-item"><i class="fa fa-tasks list-group-icon"></i></a>
                                    <a id="notes" href="#" class="list-group-item"><i class="fa fa-comment list-group-icon"></i></a>
                                    <a id="weight-auction" href="#" class="list-group-item"><i class="fa fa-truck list-group-icon"></i></a>
                                    <br>
                                    <a href="#" class="list-group-item"><i class="fa fa-bell-o list-group-icon"></i>Peso: Kg {{weight}}</a>
                                    <a href="#" class="list-group-item"><i class="fa fa-envelope-o list-group-icon"></i>Oferta : $ {{offer}}</a>
                                </div>

                                <div class="panel">
                                    <div class="panel-body">
                                        <form id="offer-auction-buyer-change" class="panel form-horizontal">
                                            
                                            <div class="panel-body">
                                                <div class="row form-group">
                                                    <label class="col-sm-4 control-label">Oferta:</label>
                                                    <div class="col-sm-8">
                                                        <input id="offer" type="number" name="offer" value="{{offer}}" class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="row form-group">
                                                    <label class="col-sm-4 control-label">Peso:</label>
                                                    <div class="col-sm-8">
                                                        <input id="weight" type="number" name="weight" value="{{weight}}" class="form-control" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-footer text-right">
                                                <button class="btn btn-primary">Cambiar Oferta</button>
                                                <br>
                                                <button class="btn btn-danger cancel-offer">Cancelar Oferta</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    {{else}}
        {{>loginUser}}
    {{/if}}
</template>