<template name="buyer_register">
    <!-- Page background -->
    <div id="page-signin-bg">
        
    </div>
    <!-- / Page background -->
    <!-- Container -->
    <div class="signup-container">
        <!-- Header -->
        <div class="signup-header">
            <a href="index.html" class="logo">
                <img src="/img/logo-auction.png" alt="" style="margin-top: -5px;">&nbsp;
                PescApp
            </a> <!-- / .logo -->
            <div class="slogan">
                Subasta. Vende. Compra.
            </div> <!-- / .slogan -->
        </div>
        <!-- / Header -->

        <!-- Form -->
        <div class="signup-form">
            <form action="#" id="signup-form_id_buyer">
        
                <div class="signup-text">
                    <span>Crear Cuenta</span>
                </div>

                <div class="form-group w-icon">
                    <input type="text" name="signup_name" id="name_id_buyer" class="form-control input-lg" placeholder="Nombre Completo" required>
                    <span class="fa fa-info signup-form-icon"></span>
                </div>
                <div class="form-group w-icon">
                    <input type="number" name="cc" id="cc" class="form-control input-lg" placeholder="Cédula" required>
                    <span class="fa fa-envelope signup-form-icon"></span>
                </div> 
                <div class="form-group w-icon">
                    <input type="email" name="signup_email" id="email_id_buyer" class="form-control input-lg" placeholder="E-mail" required>
                    <span class="fa fa-envelope signup-form-icon"></span>
                </div>
                <div class="form-group w-icon">
                    <input type="text" name="address_id_buyer" id="address_id_buyer" class="form-control input-lg" placeholder="Direccion" required>
                    <span class="fa fa-envelope signup-form-icon"></span>
                </div>

                <div class="form-group w-icon">
                    <input type="number" name="phone_id_buyer" id="phone_id_buyer" class="form-control input-lg" placeholder="314566851" required>
                    <span class="fa fa-user signup-form-icon"></span>
                </div>

                <div class="form-group w-icon">
                    <input type="password" name="signup_password" id="password_id_buyer" class="form-control input-lg" placeholder="Password" required>
                    <span class="fa fa-lock signup-form-icon"></span>
                </div>

                <div class="form-group" style="margin-top: 20px;margin-bottom: 20px;">
                    <label class="checkbox-inline">
                        <input type="checkbox" name="signup_confirm" class="px" id="confirm_id" required>
                        <span class="lbl">Estoy de acuerdo con los <a href="#" target="_blank">Términos y condiciones</a></span>
                    </label>
                </div>

                <div class="form-actions">
                    <input type="submit" value="Regístrate" class="signup-btn bg-primary">
                </div>
            </form>
        </div>
        <!-- Right side -->
    </div>

    <div class="have-account">
        Tienes una Cuenta? <a id="signIn" href="#">Ingresar</a>
    </div>

</template>