#hoster{
	height: 100%;
}

#hoster video{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 60%;
}

#hoster iframe{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 60%;
	height: 60%;
}

#localizator{
	position: absolute;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	z-index: 2;
}



#contextual-menu {
	display: none;
	position: absolute;
	z-index: 3;
}

#seekbar{
	width: 80%;
	height: 100%;
	border-radius: 1.5px;
	background: #e2e2e2;
	position: absolute;
	margin: auto;
	left: 5%;
	/* right: 0; */
	/*top: 10px;*/
	/*bottom: 0;*/
	z-index: 2;
}

#seekbar-shadow{
	width: 80%;
	height: 3px;
	border-radius: 1.5px;
	position: absolute;
	margin: auto;
	left: 5%;
	/* right: 0; */
	top: 20px;
	/*bottom: 0;*/
	z-index: 3;
}

#seekline{
	width: 100%;
	height: 3px;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	background:#808080;
}

#seekerwrapper{
	width: 90%;
	height: 50px;
	/*border-radius: 1.5px;*/
	background:#fafafa;
	position: absolute;
	bottom: 5%;

	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

#sequences-save{
	color: white;
	font-family: 'icomoon-free-pack';
	font-size: 1.5em;
	position: absolute;
	background: green;
	right: 50px;
	width: 50px;
	height: 50px;
}

#sequences-save:before{
	content: "\e662";
}

#sequences-undo{
	color: white;
	font-family: 'icomoon-free-pack';
	font-size: 1.5em;
	background: red;
	position: absolute;
	right: 0;
	width: 50px;
	height: 50px;
}

#sequences-undo:before{
	content: "\e664";
}

#storagedSequences{
	display:none;
}

.currentInteraction{
	border : 3px solid #1d89cf;
	background: rgba(255,255,255, .7) !important;
	z-index: 3;
}

.no-currentInteraction{
	display : none;
}

.currentStatePoint{
	-ms-transform: scale(2,2); /* IE 9 */
    -webkit-transform: scale(2,2); /* Chrome, Safari, Opera */
    transform: scale(2,2);
    border : 1px solid #1d89cf;
}

.e-interaction{
	cursor: pointer;
	width: 50px;
	height: 50px;
	position: absolute !important;
	top: 40px;
	left: 40px;
	background: rgba(255,255,255, .3);
	z-index: 1;
}

.statepoint{
	cursor: pointer;
	height: 6px;
	width: 6px;
	border-radius: 50px;
	background: #222;
	margin-top: auto;
	margin-bottom: auto;
	top: 0;
	bottom: 0;
}

.actual-statepoint{
	background : #1d89cf;
}

.statepoint:hover{
	-ms-transform: scale(2,2); /* IE 9 */
    -webkit-transform: scale(2,2); /* Chrome, Safari, Opera */
    transform: scale(2,2);
    border : 1px solid #1d89cf;
}

.wrapper{
	height: 100%;
	width: 100%;
	position: absolute;
}

.cutpoint{
	cursor: pointer;
	height: 6px;
	width: 6px;
	background: #F00;
	margin-top: auto;
	margin-bottom: auto;
	top: 0;
	bottom: 0;
	border-radius: 0;
}

.cutpoint:hover{
	-ms-transform: scale(2,2); /* IE 9 */
    -webkit-transform: scale(2,2); /* Chrome, Safari, Opera */
    transform: scale(2,2);
    border : 1px solid #F00;
}

.currentCutInteraction{
	border : 3px solid #F00;
	background: rgba(255,255,255, .7);
	z-index: 3;
}

.currentCutPoint{
	-ms-transform: scale(2,2); /* IE 9 */
    -webkit-transform: scale(2,2); /* Chrome, Safari, Opera */
    transform: scale(2,2);
    border : 1px solid #F00;
}