<template name="producer_register">

    <!-- Page background -->
    <div id="page-signin-bg">
        
    </div>
    <!-- / Page background -->
    <!-- Container -->
    <div class="signup-container">
        <!-- Header -->
        <div class="signup-header">
            <a href="index.html" class="logo">
                <img src="/img/logo-auction.png" alt="" style="margin-top: -5px;">&nbsp;
                PescApp
            </a> <!-- / .logo -->
            <div class="slogan">
                Subasta. Vende. Compra.
            </div> <!-- / .slogan -->
        </div>
        <!-- / Header -->

        <!-- Form -->
        <div class="signup-form">
            <form action="#" id="signup-form_id_producer">
        
                <div class="signup-text">
                    <span>Crear Cuenta</span>
                </div>

                <div class="form-group w-icon">
                    <input type="text" name="signup_name_producer" id="name_id_producer" class="form-control input-lg" placeholder="Nombre Completo" required>
                    <span class="fa fa-info signup-form-icon"></span>
                </div>

                <div class="form-group w-icon">
                    <input type="number" name="cc_id_producer" id="cc_id_producer" class="form-control input-lg" placeholder="10.." required>
                    <span class="fa fa-user signup-form-icon"></span>
                </div>


                <div class="form-group w-icon">
                    <input type="email" name="signup_email_producer" id="email_id_producer" class="form-control input-lg" placeholder="E-mail" required>
                    <span class="fa fa-envelope signup-form-icon"></span>
                </div>

                <div class="form-group w-icon">
                    <input type="number" name="phone_id_producer" id="phone_id_producer" class="form-control input-lg" placeholder="314566851" required>
                    <span class="fa fa-user signup-form-icon"></span>
                </div>

                <div class="form-group w-icon">
                    <input type="text" name="address_producer" id="address_producer" class="form-control input-lg" placeholder="Direccion" required>
                    <span class="fa fa-user signup-form-icon"></span>
                </div>

                <div class="form-group w-icon">
                    <textarea id="production_id" align="left" name="production_id" class="form-control input-lg" rows="2" placeholder="tipo de produccion" required>
                            Tipo de Producción                            
                    </textarea> 
                    <span class="fa fa-lock signup-form-icon"></span>
                </div>

                <div class="form-group w-icon">
                    <textarea id="cuts_id" align="left" name="cuts_id" class="form-control input-lg" rows="2" placeholder="Cortes" required>
                           Cortes                            
                    </textarea> 
                    <span class="fa fa-lock signup-form-icon"></span>
                </div>

                <div class="form-group w-icon">
                    <input type="password" name="signup_password" id="password_id" class="form-control input-lg" placeholder="Password" required>
                    <span class="fa fa-lock signup-form-icon"></span>
                </div>

                <div class="form-group w-icon">
                    <input type="url" name="url_video_producer" id="url_video_producer" class="form-control input-lg" placeholder="url youtube,vimeo.." required>
                    <span class="fa fa-user signup-form-icon"></span>
                </div>

                <div class="form-group w-icon" align="center">
                    <button id="photo" class="btn btn-primary btn-flat" >Foto</button>
                    {{#if picture}}
                        <img id="preview-photo" src="{{picture}}">
                    {{/if}}
                    
                </div>

                <div class="form-group" style="margin-top: 20px;margin-bottom: 20px;">
                    <label class="checkbox-inline">
                        <input type="checkbox" name="signup_confirm" class="px" id="confirm_id" required>
                        <span class="lbl">Estoy de acuerdo con los <a href="#" target="_blank">Términos y condiciones</a></span>
                    </label>
                </div>

                <div class="form-actions">
                    <input type="submit" value="Regístrate" class="signup-btn bg-primary">
                </div>


            </form>
            
        </div>
        <!-- Right side -->
    </div>

    <div class="have-account">
        Tienes una Cuenta? <a id="signIn" href="#">Ingresar</a>
    </div>
    
</template>