<template name="createAuction">
    {{#if currentUser}}
    	<div class="theme-default main-menu-animated dont-animate-mm-content-sm animate-mm-md animate-mm-lg">
            <div id="content-wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <form id="reisterAuction" class="panel form-horizontal">
                            <div class="panel-heading">
                                <span class="panel-title">Crear Subasta</span>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="inputDateHarvest" class="col-sm-2 control-label">Fecha Estimada Cosecha</label>
                                    <div class="col-sm-10">
                                        <input type="date" class="form-control" id="inputDateHarvest" required>
                                    </div>
                                </div> <!-- / .form-group -->
                                <div class="form-group">
                                    <label for="date-initial" class="col-sm-2 control-label">Fecha Inicio</label>
                                    <div class="col-sm-10">
                                        <input type="date" class="form-control" id="date-initial" required>
                                        
                                    </div>
                                </div> <!-- / .form-group -->
                                <div class="form-group" >
                                  <label class="col-sm-2 control-label" for="date-finish">Fecha Finalización</label>
                                    <div class="col-sm-10">
                                        <input type="date" class="form-control" id="date-finish" placeholder="32573.." required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="weight-production" class="col-sm-2 control-label">Peso estimado Produccion</label>
                                    <div class="col-sm-10">
                                        <input type="number" step="any" class="form-control" id="weight-production" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="value-action" class="col-sm-2 control-label">Valor</label>
                                    <div class="col-sm-10">
                                        <input type="number" step="any" class="form-control" id="value-action" required>
                                    </div>
                                </div>  

                                <div class="form-group">
                                    <label for="notes-production" class="col-sm-2 control-label">Notas</label>
                                    <div class="col-sm-10">
                                        <textarea id="notes-production" name="notes-production" class="form-control" rows="10" >
                                            
                                        </textarea> 
                                    </div>
                                </div> <!-- / .form-group -->
                                <div class="form-group" style="margin-bottom: 0;">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-success btn-flat">Guardar</button>
                                        <button id="cancelar" class="btn btn-danger btn-flat">Cancelar</button>
                                    </div>
                                </div> <!-- / .form-group -->
                                <br>
                                <p class="alert-add"></p>
                                
                            </div>
                        </form>
                        <!-- /10. $FORM_EXAMPLE -->
                    </div>
                </div>
            </div>
        </div>
    {{else}}
        {{>loginUser}}
    {{/if}}
</template>