<template name="buyer_auctions">
    <div class="table-responsive">
        {{#if Template.subscriptionsReady}}
            <!-- This is displayed when all data is ready. -->
            {{> reactiveTable collection=auctions settings=tableSettings}}
        {{else}}
            Loading...
        {{/if}} 
        
    </div>
</template>

