<template name="status_conection">
    {{#if connected}}
        <div id="growls" class="default" style="{{connected}}">
            <div class="growl growl-default growl-large">
              
              <div class="growl-title"><i class="fa fa-refresh fa-spin"></i>  Trying to connect</div>
              <div class="growl-message">There seems to be a connection issue</div>
            </div>
        </div>
    {{/if}} 
    
</template>