
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>PescApp</title>
	<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2V8IFYwB-Syx2-lauWq8EgjNmS7b8fMY">
  	</script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

	<link rel="stylesheet" type="text/css" href="/css/dashboard/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/dashboard/pixel-admin.css">
	<link rel="stylesheet" type="text/css" href="/css/dashboard/pages.css">
	<link rel="stylesheet" type="text/css" href="/css/dashboard/themes.css">
	<link rel="stylesheet" type="text/css" href="/css/dashboard/widgets.css">
	<link rel="stylesheet" type="text/css" href="/css/dashboard/rtl.css">
	<link rel="stylesheet" type="text/css" href="/css/dashboard/user.css">

	

</head>

<body>
	{{>status_conection}}
</body>


