<template name="offers_auction">
    <div class="theme-default main-menu-animated dont-animate-mm-content-sm animate-mm-md animate-mm-lg">
        <div id="content-wrapper">
            <div class="panel form-horizontal">
                <div class="panel-heading">
                    <span class="panel-title">Ofertas</span>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        {{#if Template.subscriptionsReady}}
                            <!-- This is displayed when all data is ready. -->
                            {{> reactiveTable collection=offers_auction settings=tableSettings}}
                        {{else}}
                            Loading...
                        {{/if}} 
                        
                    </div>
                </div>

            </div>
            
        </div>
    </div>         
</template>

