<template name="offer_auction_producer">
    {{#if currentUser}}
    	<div class="theme-default main-menu-animated dont-animate-mm-content-sm animate-mm-md animate-mm-lg">
            <div id="content-wrapper">
                <div class="row">
                    <input id="auction" type="text" value="{{auction}}" hidden>
                    <input id="id-buyer" type="text" value="{{user}}" hidden>
                    <input id="id-offer" type="text" value="{{_id}}" hidden>
                    <div class="col-sm-12">
                        <div class="panel-heading">
                            <span class="panel-title">Datos Comprador</span>
                        </div>
                        <div class="panel-body">

                             <div class="panel panel-info panel-dark widget-profile">
                                <div class="panel-heading">
                                    <div class="widget-profile-bg-icon">
                                        <i class="fa fa-flask"></i>
                                    </div>
                                    {{#if profile.photo}}
                                        <img src="{{profile.photo}}" alt="" class="widget-profile-avatar">
                                    {{else}}
                                        <img src="/img/grange.jpg" alt="" class="widget-profile-avatar">
                                    {{/if}}
                                    
                                    <div class="widget-profile-header">
                                        <span>{{userCreateOffer}}</span><br>
                                        <a id="cc-producer" href="#"></a>
                                    </div>
                                </div> <!-- / .panel-heading -->
                                <div class="list-group">
                                    <a id="phone-buyer" href="#" class="list-group-item"><i class="fa fa-bell-o list-group-icon"></i></a>
                                    <a id="address-buyer" href="#" class="list-group-item"><i class="fa fa-envelope-o list-group-icon"></i></a>
                                    <a id="email-buyer" href="#" class="list-group-item"><i class="fa fa-tasks list-group-icon"></i></a>
                                </div>
                            </div>
                        </div>

                        
                        <div class="panel-heading">
                            <span class="panel-title">Datos Oferta</span>
                        </div>

                        <div class="panel-body alert-offer-insert">

                            <div class="panel panel-success panel-dark widget-profile">
                                <div class="panel-heading">
                                    <div class="widget-profile-bg-icon"><i class="fa fa-bar-chart-o"></i></div>
                                    {{#if profile.photo}}
                                        <img src="{{profile.photo}}" alt="" class="widget-profile-avatar">
                                    {{else}}
                                        <img src="/img/grange.jpg" alt="" class="widget-profile-avatar">
                                    {{/if}}
                                    <div class="widget-profile-header">
                                        <span>Oferta de{{userCreateOffer}}</span><br>
                                        
                                    </div>
                                </div> <!-- / .panel-heading -->
                                <div class="list-group">
                                    <a href="#" class="list-group-item"><i class="fa fa-bell-o list-group-icon"></i>Peso: Kg {{weight}}</a>
                                    <a href="#" class="list-group-item"><i class="fa fa-envelope-o list-group-icon"></i>Oferta: $ {{offer}}</a>

                                </div>

                                 <div class="panel">
                                    <div class="panel-body">
                                        <form id="accept-offer" class="panel form-horizontal">
                                            
                                            <div class="panel-body">

                                                <button class="btn btn-primary">Aceptar Oferta</button>

                                                <button id="{{_id}}" class="offer-cancel btn btn-danger" style="display:none;">Cancelar Oferta</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    {{else}}
        {{>loginUser}}
    {{/if}}
</template>